body {
  background-color: azure;
}

.buttons-top {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  }

  button {
    margin: 10px 20px;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    color:white;
    font-size: 20px;
  }

  .cats-button {
    background-color: #55a2d2;
  }

  .cats-button:hover{
    background-color: #3c6f8f;
  }

  .dogs-button {
    background-color: #5db244 ;
  }

  .dogs-button:hover {
    background-color: #427c30 ;
  }

  .dinos-button {
    background-color: #dca93a;
  }

  .dinos-button:hover {
    background-color: #967329;
  }

  .all-pets-button {
    background-color: darksalmon;
    color: black;
  }

  .all-pets-button:hover {
    background-color: rgb(191, 111, 84);
    color: black;
  }

  #app {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .card{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 550px;
  }
#pet-submission {
  text-align: center;
}
.submit-button {
  background-color: darkblue;
}

.submit-button:hover {
  background-color: #041e5a;
}

form {
  max-width:900px;
  display: block;
  margin: 10px auto;
}

input {
  width: 500px;
  height: 40px;
  padding: 5px
}

select {
  width: 500px;
  height: 40px;
  padding: 5px
}

label {
  display: inline-block;
  width: 200px;
  text-align: right;
  font-size: 20px;
  font-weight: bold;
}

.form-field {
  margin: 10px;
}

.card-title {
  background-color: lightgrey;
  color: rgb(121, 117, 117);
  margin-bottom: 5px;
  padding-bottom: 15px;
  padding-top: 10px;
  text-align: center;
  font-weight: bold;
}

.card-body{
  padding:0;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
}

img {
  padding: 5px 20px;
  border-radius: 10px;
}

.color, .card-text {
  text-align: center;
}

.type {
  background-color: lightgreen;
  color: darkgreen;
  padding-bottom: 5px;
  padding-top: 10px;
  text-align: center;
  margin-bottom: 0px;
  text-transform: capitalize;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

#cat {
  background-color: lightblue;
  color: darkblue;
}

#dog {
  background-color: lightgreen;
  color: darkgreen;
}

#dino {
  background-color: lightgoldenrodyellow;
  color: darkgoldenrod;
}

.delete-button {
  background-color: #e62d2dc1;
  color: whitesmoke;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
}
